.items {
  display: flex;
  border: 1px solid teal;
  border-radius: 5px;
  width: 600px;
  padding: 10px;
  margin: auto;
}

button {
  border-radius: 50%;
  background-color: teal;
  color: black;
  justify-content: center;
}
span {
  margin-left: 10px;
  margin-right: 50px;
}
